.filters{
    position: absolute;
    z-index: 1000;
    width: 150px;
    top: 80px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.filter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #bf934a;
    color: #bf934a;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    right: 10px;
    position: absolute;
}

.trade{
    background-image:url('../img/icons/tradeFilter_icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}