.footer{
    background-color: #CF3C3E;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom:0;
}

.active{
    background-color: #7d252a;
}

.footerLink{
    display: flex;
    border-right: 2px solid white;
    height: 100%;
    width: 25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footerLink:last-of-type{
    border-right: none;
}

.footerLink:active{
    background-color: #7d252a;
}

.footerLink p{
    display: flex;
    font-size: 0.8em;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.ruilPlaza{
    background-image: url('../img/icons/ruilplaza_icon.svg');
}

.snelRuilen{
    background-image: url('../img/icons/snelRuilen_icon.svg');
}

.mijnPlaza{
    background-image: url('../img/icons/mijnPlaza_icon.svg');
}

.geschiedenis{
    background-image: url('../img/icons/geschiedenis_icon.svg');
}