.header{
    background-color: #CF3C3E;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    max-width: 600px;
}

.back{
    border: 6px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.backArrow{
    display: flex;
    margin-left: 5px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 35px solid white;
}

.back:active{
    border: 6px solid #7d252a;
}

.back:active .backArrow{
    border-right: 35px solid #7d252a;
}

.header h1{
    display: flex;
    font-size: 3em;
    margin-left: 20px;
    color: white;
}