.header{
    background-color: #CF3C3E;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 5000;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    padding-left: 20px;
    max-width: 600px;
}

.back{
    position: absolute;
    left: 5%;
    border: 4px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    top: 50%;
    margin-top: -25px;
}

.backArrow{
    display: flex;
    width: 0;
    margin-left: 10px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid white;
}

.back:active{
    border: 6px solid #7d252a;
}

.back:active .backArrow{
    border-right: 20px solid #7d252a;
}

.header h1{
    display: flex;
    align-items: center;
    font-size: 2em;
    color: white;
    margin: 0 auto;
}