.kaarten {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: scroll;
}

.kaartDiv {
    width: 50%;
    height: 150px;
    margin: 20px 0;
    background-color: #900a0c;
    border-radius: 60%;
    box-shadow: 0 0 100px #900a0c;
}

.kaart {
    width: 100%;
    height: 100%;
    margin: auto;
}

.amountOfCards{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bf934a;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 30px;
}

.filters{
    position: absolute;
    width: 150px;
    top: 80px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.filter{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #bf934a;
    color: #bf934a;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    right: 10px;
    position: absolute;
}