#container {
    padding-top: 0;
    height: 100vh;
}

.close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #bf934a;
    color: #bf934a;
    text-align: center;
    padding-top: 14px;
    font-weight: bold;
    top: 10px;
    left: 10px;
    position: absolute;
}

.kaart {
    position: absolute;
    top: 50px;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 65vh;
    height: 30vh;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
}

.amount, .rarity {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

p {
    font-size: 1.5em;
}

.trade {
    align-self: center;
}

.button {
    background-color: #CF3C3E;
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
}