@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: Montserrat, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.logo {
    width: 80%;
    max-width: 250px;
    display: block;
    margin: auto;
}

#container {
    background-color: #D8B251;
    color: white;
    max-width: 600px;
    margin: auto;
    height: 100%;
    padding-top: 10vh;
}

nav {
    margin-top: -10vh;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    text-align: center;
    color: #d8d8d8;
    text-decoration: none;
    height: 33.333333333333333vh;
    position: absolute;
}

nav ul li a:active {
    transition: linear 0.3s;
}

nav ul li a p {
    font-size: 1.8em;
    margin-bottom: 50px;
}

nav ul li a img {
    width: 40%;
    max-width: 150px;
    margin: auto;
}

nav ul li a:active img {
    width: 30%;
    transition: linear 0.1s;
}

.menu_button_profile {
    background-color: #dd3736;
}

.menu_button_cards {
    background-color: #b73332;
    margin-left: 50%;
}

.menu_button_trade {
    background-color: #b73332;
    margin-top: 33.3333333333vh;
}

.menu_button_progress {
    background-color: #942c2d;
    margin-top: 33.3333333333vh;
    margin-left: 50%;
}

.menu_button_friends {
    background-color: #942c2d;
    margin-top: 66.66666666vh;
}

.menu_button_logout {
    background-color: #7d252a;
    margin-left: 50%;
    margin-top: 66.66666666vh;
}

.alert{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    background-color: #EACE7D;
    border-top: 5px solid #9d802b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alert h1{
    font-size: 1.5em;
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-around;
}

.links a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
}