.progress{
    width: 100%;
    height: 90vh;
    margin: auto;

}

.progress_block{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.progress_block h1{
    padding-bottom: 20px;
    font-size: 1.5em;
}

.even{
    background-color: #b73332;
}

.odd{
    background-color: #dd3736;
}

.odd .btn_reset{
    background-color: #7d2423;
    color: white;
    border: 0;
    padding: 5px;
    margin-top: 20px;
    font-family: sans-serif;
}

.even .btn_reset{
    background-color: #7d1f1f;
    color: white;
    border: 0;
    padding: 5px;
    margin-top: 20px;
    font-family: sans-serif;
}