.toTrade{
    display: flex;
    width: 100vw;
    height: 85vh;
    padding-top: 15vh;
}

.trade, .receive{
    position:relative;
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
}

.info{
    position: relative;
    display: block;
    left: 0;
    top: 0;
    transform: inherit;
    height: 50%;
    padding-top: 5vh;
    text-align: right;
}

.user, .amount, .rarity{
    padding: 10px 0;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.tradeBtn{
    display: flex;
    background-color: #CF3C3E;
    margin: auto;
}

.error{
    width: 90vw;
    padding-left: 15px;
    line-height: 30px;
    color: white;
    background-color: #CF3C3E;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    margin: auto;
    top: 65px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.alert {
    background-color: #CF3C3E;
    border-color: #7d252a;
}