.ruilkaart {
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40%;
}

.user, .date, .rarity {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.profilePicture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.dateIcon {
    width: 30px;
    height: 30px;
    background-image: url('../img/icons/date_icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.rarity{
    margin-top: 10px;
}
