body {
    background-color: #D8B251;
}

.ruilkaart {
    width: 300px;
    height: 300px;
}

.info {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.info p {
    color: white;
    font-family: montserrat;
}

.user, .date, .rarity {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../img/userImages/lisa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.dateIcon {
    width: 50px;
    height: 50px;
    background-image: url('../img/icons/date_icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.rarity{
    margin-top: 10px;
}
